* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p-0{padding: 0px !important;}

.row{width: 100%;}
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-color: #e4dbdb;
}

.menu ul {
    display: flex;
    justify-content: start;
}

.menu li {
    list-style: none;
    line-height: 90px;
    margin-top: 10px;
}

.search_input {
    height: 50px;
    border-radius: 50px;
}

.menu a {
    font-size: 20px;
    color: rgb(123, 123, 123);
    padding: 20px 25px;
}
.menu a:hover{
    color: #20c997;
    text-decoration: none;
}
.p-0{
    padding: 0px 0px;
}
.search_input {
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.container h2 {
    margin: 40px 0 20px;
    font-size: 2rem;
    text-align: center;
}

.card {
    margin-bottom: 50px;
    transition: transform 0.7s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-body{
    height: 170px;
    cursor: pointer;

}
.card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card:hover {
    transform: scale(1.05);
    border: 1px solid  #0056b3;
}

.card h5{
    font-weight: 500; 
}

.card h5:hover{
    color: #007bff;
    transition:0.7s;
}
.more_btn {
   margin: auto;
   padding: 20px;
}
.more_btn a{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100px;
}
.button .btn-primary {
    box-shadow: rgba(213, 255, 6, 0.35) 0px 5px 15px;
    background-color: #007bff;
    border-color: #007bff;
     width: 100px;
     margin: auto;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.footer {
    color: #000000;
    padding: 20px 0;
    width: 100%;
    background-color: #a9a5a5;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
}

.footer-column {
    width: 30%;
}

.footer-column h4 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.footer-column p, .footer-column a {
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
}

.footer-column a:hover {
    color: #000000;
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
    margin-top: 20px;
}
.footer-column i{
    margin-left: 10px;
}
.footer-bottom p {
    color: #000000;
    margin: 0;
    font-size: 14px;
}